@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Poppins', sans-serif;
    --primary-color: #000000;
    --secondary-color: #b1b0b3;
    --tertiary-color: #433bff;
}

.animated-background {
    background-size: 400%;

    -webkit-animation: animation 3s ease infinite;
    -moz-animation: animation 3s ease infinite;
    animation: animation 3s ease infinite;
}

@keyframes animation {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}