@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Poppins', sans-serif;
    --primary-color: #000000;
    --secondary-color: #b1b0b3;
    --tertiary-color: #433bff;
}